<h1>Edit Item</h1>

<form action="/items/<%=id%>?_method=PUT" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="<%= item.name%>" />

  <label for="rarity">Rarity</label>
  <input type="number" name="rarity" id="rarity" value="<%= item.rarity%>" />

  <label for="type">Type</label>
  <input type="text" name="type" id="type" value="<%= item.type%>" />

  <label for="subtype">Subtype</label>
  <input type="text" name="subtype" id="subtype" value="<%= item.subtype%>" />

  <label for="description">Description</label>
  <input
    type="text"
    name="description"
    id="description"
    value="<%= item.description%>"
  />

  <label for="rules">Rules</label>
  <input type="text" name="rules" id="rules" value="<%= item.rules%>" />

  <label for="source">Source</label>
  <input type="text" name="source" id="source" value="<%= item.source%>" />

  <label for="setting">Setting</label>
  <input type="text" name="setting" id="setting" value="<%= item.setting%>" />

  <input type="submit" value="Edit Item">
</form>
