<h1>This is your Shop</h1>

<img src="/images/storefront.png" alt="A picture of a fantasy storefront" style="max-width:700px;display:block; margin-left: auto;margin-right: auto;"/>

<table>
  <% items.forEach((item, index)=>{ %>
  <tr>
    <td><b><%= item.name %></b></td>
    <td>
      <a href="/items/<%= item.id %>" target="_blank">
        <% { %> <% if (item.image){ %>
        <img
          src="/images/<%= item.image %>"
          alt="Image of <%= item.name %>"
          style="max-width: 150px"
        />
        <% } else { %>
        <img
          src="/images/itemBox.png"
          alt="Image of <%= item.name %>"
          style="max-width: 150px"
        />
        <% } %> <% } %>
      </a>
    </td>
    <td><%= rarityChart[item.rarity] %></td>
    <td>
      <%= priceChart[item.rarity][0]+ item.basePrice %> - <%= (priceChart[item.rarity][1]) + item.basePrice %> gp
    </td>
    <% if (item.consumable === true) { %>
    <td>
      <%= Math.floor((Math.floor(Math.random() *
      (priceChart[item.rarity][1]-priceChart[item.rarity][0])) +
      priceChart[item.rarity][0])/2)%> gp
    </td>
    <% } else { %>
    <td>
      <%= Math.floor(Math.random() *
      (priceChart[item.rarity][1]-priceChart[item.rarity][0])) +
      priceChart[item.rarity][0] + item.basePrice%> gp
    </td>
    <% } %>
    <td><i><%= item.description %></i></td>
    <td><%= item.rules %></td>
    <td><i><%= item.type %> <% if (item.subtype) {%>(<%= item.subtype%>)<% } %></i></td>
  </tr>
  <% }) %>
</table>
<a href="/items/findshop">Make a new Shop.</a>