<img src="/images/<%= item.image %>" alt=" <%= item.description %>"" style=max-width:500px; />

<p><%= item.name %></p>
<p><%= rarityChart[item.rarity] %></p>
<% if (item.attunement === true) {%>
<p><i>Requires Attunement</i></p>
<% } %>
<p><%= item.type %> <% if (item.subtype) {%>(<%= item.subtype%>)<% } %></p>
<p><%= item.description %></p>
<p><%= item.rules %></p>
<p><%= item.subrules%></p>
<p><%= item.slot %></p>
<p><%= item.source %></p>
<p><%= item.setting %></p>

<a href="/items">Back</a>
