<p><%= item.name %></p>
<p><%= item.rarity %></p>
<img src="/images/<%= item.image %>" alt=" <%= item.description %>" />
<p><%= item.description %></p>
<p>Requires Attunement: <%= item.attunement %></p>
<p><%= item.type %> (<i><%= item.subtype%></i>)</p>
<p><%= item.rules %></p>
<p><%= item.subrules%></p>
<p><%= item.slot %></p>
<p><%= item.source %></p>
<p><%= item.setting %></p>

<a href="/items">Back</a>
